<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=no">
    <meta charset="utf-8">
    <title>远程监控</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="/static/echarts.js"></script>
    <script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
</head>
<!--<br>-->
<body style="background-color: #CCFFCC">
    <h2>心率、血氧监控</h2>
    <div id="top" style="width: 250px;height:20px;background: aqua;"></div>
    <div id="message1" style="width: 250px;height:50px;background: aqua;"></div>
    <div id="time1" style="width: 250px;height:50px;background: aqua;"></div>
    <div id="xinlv1" style="width: 250px;height:50px;background: aqua;"></div>
    <div id="xueyang1" style="width: 250px;height:50px;background: aqua;"></div>
    </br>
    <!--<div id="main" style="width: 400px;height:800px;"></div>-->
    <script type="text/javascript" src="/static/charts.js"></script>
    <!--<script type="text/javascript">-->
    <!--var myChart = echarts.init(document.getElementById('main'));-->

</body>
</html>