<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>远程监控</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="/static/echarts.js"></script>
    <script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
</head>
<br>
    <h1>病人远程监控</h1>
    </br>
    <!--<button id="btn">显示学生信息</button>-->
    <div id="main" style="width: 600px;height:600px;"></div>
    <script type="text/javascript" src="/static/charts.js"></script>
    <!--<script type="text/javascript">-->
    <!--var myChart = echarts.init(document.getElementById('main'));-->

</body>
</html>