<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>远程监控</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="/static/echarts.js"></script>
    <script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
</head>
<br>
    <h2>心率、血氧监控</h2>
    <!--<li>-->
        <!--姓名：-->
    <!--</li>-->
    <!--<button id="btn">显示学生信息</button>-->
    <div id="message"></div>
    <div id="num"></div>
    </br>
    <div id="main" style="width: 400px;height:800px;"></div>
    <script type="text/javascript" src="/static/charts.js"></script>
    <!--<script type="text/javascript">-->
    <!--var myChart = echarts.init(document.getElementById('main'));-->

</body>
</html>