<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=no">
    <meta charset="utf-8">
    <title>历史数据</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="/static/echarts.js"></script>
    <script type="text/javascript" src="/static/jquery-3.3.1.js"></script>
</head>
<!--<br>-->
<body style="background-color: #CCFFCC">
    <h2>历史数据</h2>

    <div id="main" style="width: 400px;height:800px;"></div>
    <script type="text/javascript" src="/static/history.js"></script>


</body>
</html>